.box{



/* background-color: gray; */
width:100%;
height:60%;


}




body{


/* background-color:#fcf3dccf; */
background-color:#dcd7d59f;


padding :1rem;
margin:3rem;

}


.title {
    font-family: "merriwether", serif;
    font-size: 2.4rem;
    color: rgba(1, 14, 20, 0.88);

    /* Elegant spacing for a premium book feel */
    letter-spacing: 1.2px;

    /* Soft shadow for depth without looking dramatic */
    text-shadow: 
        0px 2px 4px rgba(0, 0, 0, 0.22),
        0px 1px 1px rgba(255, 255, 255, 0.15);
}