/* MAIN FEATURED SECTION */
.top_featured {
  margin: 7rem auto;
  padding: 2rem;
  background-color: #b1bdc0;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(61, 66, 68, 0.288);
  max-width: 950px;
  text-align: center;
}

.top_featured h2 {
  font-family: 'fredoka', serif;
  color: #3a1f04;
  font-size: 2.2rem;
  font-weight: 0.2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}
/* 
 BOOKS ROW */
/* .books {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
  flex-wrap: wrap;
}  */

/* SINGLE BOOK CARD */
.book {
  position: relative;               /* Needed for overlay */
  background-color: #f8f8f8;
  border-radius: 0.8rem;
  padding: 1.2rem;
  width: 300px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;                 /* Ensures image/blur stays inside */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* BOOK IMAGE */
.book_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* IMAGE HOVER EFFECT */
.book:hover .book_photo {
  filter: brightness(50%) blur(3px);
  transform: scale(1.1);
  border-radius: 50%;
}

/* OVERLAY TEXT CONTAINER */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0 10px;

  opacity: 0;
  transition: opacity 0.4s ease;

  z-index: 20;                      /* Always above image */
}

/* TEXT STYLING */
.overlay h3 {
  margin: 0;
  font-size: 1.35rem;
  font-family: "Poppins", sans-serif;
  color: #3a0d09;
  font-weight: 700;
}

.overlay p {
  margin-top: 6px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #fffbfa;
}

/* SHOW TEXT ON HOVER */
.book:hover .overlay {
  opacity: 1;
}

/* BOOK DETAILS (HIDDEN SECTION) */
.book-details {
  margin-top: 2rem;
  display: none;
  background: #f4f4f4;
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-details h3 {
  color: #3a1f04;
  font-family: 'Playfair Display', serif;
}

.book-details ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.book-details li {
  padding: 0.4rem 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}
.book-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
