body {
    margin: 0;
    background: #EFE6DA; /* warm beige */
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #F7F3EB; /* soft cream */
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

h2 {
    color: #355E3B; /* forest green */
    margin-bottom: 20px;
}

label {
    float: left;
    font-size: 14px;
    color: #3A2F2A; /* dark brown */
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #EFE6DA;
    border: 1px solid #C9BBAA;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #355E3B; /* forest green */
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #6B8F71; /* olive */
}

.login-text {
    margin-top: 15px;
    font-size: 14px;
}

.login-text a {
    color: #D97A3A; /* pumpkin orange */
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
